<%- include('layouts/header'); -%>

<h1><%= title %></h1>
<hr />

<p  style="justify-content: center; text-align: justify;
text-justify: inter-word;  font-size: 20px;">

Welcome    to    Hex    Luxury    Ltd,    timeless    and    beautiful    accessories    to    add    to    your    sophisticated    home.
</p > <p style="justify-content: center; text-align: justify;
text-justify: inter-word;  font-size: 20px;"> 
As    a    luxury    home    accessories    brand,    we’re    proud    to    manufacture    exquisite    real    brass    and    eco-friendly    faux    
shagreen    products    that    will    take    any    home    to    a    whole    new    level    of    style    and    elegance.    Our    handcrafted    
product    begins    with    our    standard    collection    with    the    promise    for    regular    new    collections    adding    a    touch    of    
unique    glamour    to    your    interiors.
</p > <p style="justify-content: center; text-align: justify;
text-justify: inter-word;  font-size: 20px;">
    Hex    Luxury    Ltd    is    a    London-based    company    established    by    a    designer    who    used    her    design    expertise    and    
industry    contacts    to    create    a    selection    of    beautiful,    contemporary    home    accessories    that    bring    a    hint    of    
understated    elegance    to    any    living    space.
</p > <p style="justify-content: center; text-align: justify;
text-justify: inter-word;  font-size: 20px;">
    Using    simple    yet    stylish    geometric    shapes,    the    Hex    Luxury    collection    embraces    modern    design    concepts    for    the    
home    office,    dining    room,    kitchen    and    living    area.    From    elegant    napkin    rings    to    sophisticated    letter    holders,    
our    range    embodies    clean    and    minimalist    accessories    that    work    perfectly    with    any    décor    or    design    scheme.    
We    pay    exquisite    attention    to    detail,    focusing    on    the    authenticity    and    crafting    of    each    and    every    piece.    To    this    
end,    every    item    is    packaged    by    hand    for    a    more    personal    touch.
</p > <p style="justify-content: center; text-align: justify;
text-justify: inter-word;  font-size: 20px;">
We    invite    you    to    browse    through    our    collection    today    and    enjoy    choosing    the    perfect    items    to    coordinate    with    
your    home    or    to    complement    your    existing    décor.    We’re    passionate    about    our    beautiful    products,    and    we    
hope    that    you    love    them    too.    

</p>


<%- include('layouts/footer'); -%>
