<%- include('layouts/header'); -%>

<h1 class="page-header"><%= title  %></h1>
<hr />


<section>
    <h3 >
        Thank you, for your purchase
    </h3>
    <h4>
         Please Inter your Address for Delivery:
    </h4>
    <div class="form-group w-50">
        <label for="example1" class="lead">Your full Address:</label>
        <input type="text" class="form-control" id="example1" placeholder="eg: 8 harrow view sw1 6ef">
      </div>
     <hr class="my-4">
    <button class="btn btn-dark btn-lg" type="submit">Diliver it to me</button>
    <a href="/" class="btn btn-dark btn-lg" >Go to Home page</a>
</section>

<%- include('layouts/footer'); -%>
